@font-face {
    font-family: 'Norse Bold';
    src: url('assets/Norse-Bold.otf') format('woff2');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

html,
body {
    height: 100%;
    margin: 0;
    font-family: system-ui, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
}

.document {
    height: 100%;
    display: flex;
}

.sidebar {
    width: 50%;
    background-image: url('./assets/halie-west-25xggax4bSA-unsplash.jpg');
    background-size: cover;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
}

.logo {
    width: 100%;
    background: rgba(0, 0, 0, 0.5);
    color: white;

    font-size: 4rem;
    font-family: 'Norse Bold';

    display: flex;
    justify-content: center;
    align-items: center;

    padding: 0.5rem 0;
    position: absolute;
    top: 12rem;
}

.logo img {
    height: 6rem;
    width: auto;
}

.footer {
    color: white;
    padding-bottom: 1rem;
}

a {
    color: inherit;
}

.content {
    width: 100%;
    background-color: #F9FAFB;
}

.caption {
    margin: 8rem 0 4rem 3rem;
    max-width: 72ch;
}

.form {
    background-color: white;
    padding: 2rem 0 2rem 3rem;
}

.form h2 {
    margin: 0;
}

.form-row {
    display: flex;
    gap: 4rem;
}

label {
    display: block;
}

input {
    width: 250px;
    border: 1px solid #E5E7EB;
    line-height: 1.5;
    border-radius: 2px;
}

input:focus {
    box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.3);
    outline: 1px solid #005FCC;
}

input:invalid {
    outline: 1px solid red;
}

.bottom {
    padding: 2rem 3rem;
}

.create-account {
    background-color: #596D48;
    color: white;
    font-weight: bold;
    padding: 1rem 3rem;
    border-radius: 0.4rem;
    margin-bottom: 2rem;
}

.bottom a {
    color: #596D48;
    font-weight: bold;
    text-decoration: none;
}